* {
    background-color: rgba(245, 245, 220, 0.46);
}
table {
    border: 1px solid black;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    margin-top: 40px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

span {
    font-style: italic;
    font-size: 25px;
    display: block;
    text-align: center;
}
code {
    font-size: 15px;
    text-align: center;
}

p, h2, h3 {
    text-align: center;
}

/* Table Customization */

table {
    text-align: center;
    margin: 0 auto;
}

.tablenav th {
    background-color: rgb(89, 188, 105);
    color: white;
}

.name {
    padding: 15px;
    background-color: rgb(234, 196, 162);
}

.tag {
    padding: 15px;
    background-color: rgba(234, 196, 162, 0.5);
}

.description {
    text-align: justify;
    padding: 15px;
    background-color: rgba(234, 196, 162, 0.2);
}
